@page 
@model DontBeLazy.Pages.Tasks.ListModel
@{
    ViewData["Title"] = "Tasks";
}

<br />
<div style="color:#808080" >
    <p>Ovdje je prikaz svih projekata na kojima korisnik radi. Kako bi se dodao novi projekt, odabere se "Add Task" iz izbornika i popune podaci o tom projektu.</p>
    <p>Nakon dodavanja novog projekta, klikom na "Details" mogu se pogledati njegovi detalji ili izmijeniti neki podaci klikom na "Edit".</p>
    <p>Cilj aplikacije je bilježiti vrijeme provedeno na svakom od projekata, kako bi na kraju imali statistiku koliko je vremena trebalo da se određeni zadatak završi.
        Kako bi se to postiglo, svaki put kad korisnik želi raditi na nekom projektu, klikne na gumb "Work On Task". To će zabilježiti početak rada.
        Ukoliko je korisnik gotov s radom na projektu, klikom na "Stop" bilježi se vrijeme završetka i računa ukupno vrijeme provedeno na tom projektu, te
        ga aplikacija odvede na "Statistics" karticu.
    </p>
</div>
<br />

<h1>List of Tasks</h1>

<br />

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-info">Search</button>
            </span>
        </div>
    </div>
</form>




<table class="table">
    <tr>
        <td>Task Name</td>
        <td>Due At</td>
        <td>Task Type</td>
        <td></td>
        <td></td>
        <td></td>
        @*koje vrhunske html vjestine... skuzi kako produziti onu crtu bez ovih td*@

    </tr>
    @foreach (var task in Model.MyTask)
    { 
    <tr>
        <td>@task.Name</td>
        <td>@task.DueAt</td>
        <td>@task.TaskType</td>
        <td>
            <a class="btn btn-primary" asp-page="./Detail" asp-route-taskId="@task.Id">Details</a>
        </td>
        <td>
            <a class="btn btn-primary" asp-page="./Edit" asp-route-taskId="@task.Id">Edit</a>
        </td>
        <td>
            <a class="btn btn-primary" asp-page="./WorkOnTask" asp-route-taskId="@task.Id">Work On Task</a>
        </td>

    </tr>
    }
</table>



<div>@Model.Message</div>