@page
@model DontBeLazy.Pages.Tasks.StatisticsModel
@{
    ViewData["Title"] = "Task Statistics";
}


<br />
<div style="color:#808080">
    <p>Ovdje je prikazana statistika rada na pojedinom projektu. U donjoj tablici zabilježeni su početak, kraj rada te ukupno vrijeme provedeno na radu na projektu.
       TaskId je trenutno tu umjesto naziva zadatka (jedna od stvari koje ću prve ispraviti na ovoj aplikaciji). </p>
    <p>Gornja tablica računa koliko je ukupno vremena utrošeno na rad na pojedinom projektu. To je samo dio statistike koji će ova aplikacija prikazivati (još nešto na čemu radim).</p>
    
</div>
<br />


<div>
    @await Component.InvokeAsync("TasksSummary")
</div>
<br />

<h2>Task Statistics</h2>

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <td>Id</td>
            <td>Started Working</td>
            <td>Ended Working</td>
            <td>Total Work Time</td>
            <td>Task Id</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var stat in Model.TaskStat)
        {
            <tr>
                <td>@stat.Id</td>
                <td>@stat.StartTime</td>
                <td>@stat.EndTime</td>
                <td>@Math.Round(stat.WorkTime, 2)</td>
                <td>@stat.TaskId</td>
            </tr>

        }
    </tbody>
</table>
